
table{
    box-shadow: 0 5px 5px rgba(0,0,0.2);
}
table, tr{
    color:rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,255,255,0.1);
    width: auto;
    font-size: 30px;
    word-wrap:break-word;
    text-align: center;
    border-radius: 10px;
    padding: 2px;
    backdrop-filter: blur(10px);
}
td{
    max-width: 800px;
}

th{
    font-size: 30px;
    color: rgba(255,255,255,0.8);
}
.nameFile{
    color:rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.03);
    box-shadow: 1px 2px 2px rgba(0,0,0.2);
    
    margin: auto;
    font-size: 25px;
    letter-spacing: 1px;
    transition: 0.5s;
    text-align: center;
    border-radius: 10px;
    padding: 3px;
    backdrop-filter: blur(10px);
}
.nameFile:hover{
    letter-spacing: 5px;
    background-color: rgba(120, 120, 120, 0.3);
    color: rgba(255,255,255,1);
}
.nameFile:active{
    background-color: rgba(0, 0, 0, 0.5);
}
.loadedFileContainer{
    color:rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.03);
    box-shadow: 0 2px 2px rgba(0,0,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    overflow: hidden;
    height:380px;
    width: 600px;
    border-radius: 10px;
    padding: 5px;
    backdrop-filter: blur(10px);
}

.loadedFile{
    height:100%;
    width:100%;
    display:block;
    overflow: auto;
    object-fit:contain;
}

.close {
    color:rgba(0,0,0,1);
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 2px 2px rgba(0,0,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }

.newRemContainer{
    color: #fff;
    position:relative;
    background-color: rgba(255,255,255,0.03);
    box-shadow: 0 5px 5px rgba(0,0,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    width: auto;
    border-radius: 20px;
    padding: 15px;
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      " reimbursename amount"
      " fileUp fileUp"
      " submit submit"
      " iframeContainer iframeContainer"
      " iframeContainer iframeContainer";
}

.iframeContainer{
    grid-area: iframeContainer;
    color:rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.03);
    box-shadow: 0 2px 2px rgba(0,0,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    width: auto;
    overflow: hidden;
    height:480px;
    border-radius: 10px;
    padding: auto;
    backdrop-filter: blur(10px);
}

.loadedImg{
    height:100%;
    width:100%;
    display:block;
    border:none;
    overflow: auto;
    object-fit:contain;
}

.reimbursename{
    grid-area: reimbursename;
    color:rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.03);
    box-shadow: 0 2px 2px rgba(0,0,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    width: auto;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    padding: auto;
    backdrop-filter: blur(10px);
}
::-webkit-file-upload-button {
    color:rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.03);
    box-shadow: 0 5px 5px rgba(0,0,0.2);
    margin: 1%;
    font-size: 25px;
    letter-spacing: 1px;
    transition: 0.5s;
    text-align: center;
    border-radius: 10px;
    padding: 3px;
    backdrop-filter: blur(10px);
}
::-webkit-file-upload-button:hover {
    letter-spacing: 4px;
    background-color: rgba(120, 120, 120, 0.3);
    color: rgba(255,255,255,1);
  }
  ::-webkit-file-upload-button:active{
    background-color: rgba(0, 0, 0, 0.5);
}
.fileUp{
    grid-area: fileUp;
    color:rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.03);
    box-shadow: 0 2px 2px rgba(0,0,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    width: auto;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    padding: auto;
    backdrop-filter: blur(10px);
}

.amount{
    grid-area:amount;
    color:rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.03);
    box-shadow: 0 2px 2px rgba(0,0,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    width: auto;
    margin:auto;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    padding: auto;
    backdrop-filter: blur(10px);
}
.submit{
    grid-area:submit;
    color:rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,0.03);
    box-shadow: 0 5px 5px rgba(0,0,0.2);
    width: 50%;
    margin: auto;
    font-size: 25px;
    letter-spacing: 1px;
    transition: 0.5s;
    text-align: center;
    border-radius: 10px;
    padding: 3px;
    backdrop-filter: blur(10px);
}
.submit:hover {
    letter-spacing: 5px;
    background-color: rgba(120, 120, 120, 0.3);
    color: rgba(255,255,255,1);
  }
 .submit:active{
    background-color: rgba(0, 0, 0, 0.5);
}