.totalMan{
    position: fixed;
    /* background-color: #3f0d12; */
    /* background-image: linear-gradient(315deg, #2f0000 10%, #ff004c 60%); */
    background-color: #cccccc;
    background-image: url("https://jtkbackgroundimgs.blob.core.windows.net/jtkreimbursementbackgrounds/man_Background.gif");
    background-repeat: repeat;
    background-size:cover;
    height:100%;
    width:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.manHeaderLabel { 
  color: rgba(255,255,255,0.8);
    left:50%;
    text-align: center;
    background-color: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.1);
    font-size: 40px;
    border-radius: 10px;
    padding: 4px 2px;
    backdrop-filter: blur(10px);
}

.containerMan {  
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: rgba(255,255,255,0.03);
    box-shadow: 5px 5px 10px rgba(0,0,0.2);
    border: 1px solid rgba(48, 1, 1, 0.1);
    width: fit-content;
    border-radius: 15px;
    padding: 15px;
    backdrop-filter: blur(10px);
    overflow:hidden;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      " pastManBtn newManBtn"
      " containerManShow containerManShow";
}

.containerManChild {  
  color: #fff;
  position: relative;
  background-color: rgba(255,255,255,0.03);
  box-shadow: 0 5px 5px rgba(0,0,0.2);
  border: 1px solid rgba(255,255,255,0.1);
  width: auto;
  border-radius: 15px;
  padding: 10px;
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    " pastManBtn newManBtn"
    " containerManShow containerManShow";
}

.pastManBtn {
    margin: auto;
    padding: auto;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 5px 5px rgba(0,0,0.2);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.6);
    font-size: 30px;
    letter-spacing: 0px;
    transition: 0.5s;
    cursor: pointer;
    text-transform: uppercase;
    width: auto;
    height: auto;
    grid-area: pastManBtn;
}
.pastManBtn:hover {
    background-color: rgba(120, 120, 120, 0.3);
    letter-spacing: 1px;
    color: rgba(255,255,255,1);
  }
 .pastManBtn:active{
    background-color: rgba(0, 0, 0, 0.7);
  }

.newManBtn {
    margin: auto;
    padding: auto;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 5px 5px rgba(0,0,0.2);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.6);
    letter-spacing: 0px;
    transition: 0.5s;
    transition: 0.5s;
    font-size: 30px;
    letter-spacing: auto;
    cursor: pointer;
    text-transform: uppercase;
    width: auto;
    height: auto;
    grid-area: newManBtn;
}
.newManBtn:hover {
  letter-spacing: 1px;
    background-color: rgba(120, 120, 120, 0.3);
    color: rgba(255,255,255,1);
}
.newManBtn:active{
    background-color: rgba(0, 0, 0, 0.7);
}
.containerManShow{
  margin: auto;
  grid-area:containerManShow;
}
.reimScroll{
  margin: auto;
  max-height:450px;
  overflow-y:scroll;
}
::-webkit-scrollbar {
  display: none;
}
.statCommentLabel{
  margin: auto;
  padding: auto;
  color: rgba(255,255,255,0.7);
  font-size:32px;
  letter-spacing: auto;
  cursor:crosshair;
}
.containerAPDEN{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    " apprBtn denBtn"
    " commentInput commentInput";
}
.apprBtn{
  margin: auto;
  padding: auto;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.06);
  box-shadow: 0 1px 1px rgba(0,0,0.2);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.7);
  font-size: 18px;
  letter-spacing: auto;
  cursor: pointer;
  text-transform: uppercase;
  width: auto;
  height: auto;
  grid-area:apprBtn;
}
.apprBtn:hover {
  background-color: rgba(50, 50, 50, 0.4);
  color: rgba(255,255,255,1);
}
.apprBtn:active{
  background-color: rgba(0, 0, 0, 0.8);
}
.denBtn{
  margin: auto;
  padding: auto;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.06);
  box-shadow: 0 1px 1px rgba(0,0,0.2);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.7);
  font-size: 18px;
  letter-spacing: auto;
  cursor: pointer;
  text-transform: uppercase;
  width: auto;
  height: auto;
  grid-area:denBtn;
}
.denBtn:hover {
  background-color: rgba(50, 50, 50, 0.4);
  color: rgba(255,255,255,1);
}
.denBtn:active{
  background-color: rgba(0, 0, 0, 0.8);
}
.commentInput{
  margin: auto;
  padding: auto;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.06);
  border: 1.5px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.7);
  font-size: 20px;
  letter-spacing: auto;
  width: auto;
  height: auto;
  grid-area:commentInput;
}

.containerStat{
  display: grid;
  grid-template-columns: auto;
  overflow-y:scroll;
  max-height:700px;
  grid-template-rows: auto auto auto;
  margin-top: 2%;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    " totAvg"
    " titleBar"
    " barChart";
}
.titleBar{
  text-align: center;
  color:#8884d8;
  font-size: 30px;
  margin:auto;
  grid-area:titleBar;
}
.totAvg{
  display:inline;
  text-align: center;
  margin: auto;
  padding: auto;
  font-size: 20px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.06);
  box-shadow: 0 1px 1px rgba(0,0,0.2);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.7);
  grid-area:totAvg;
}
.barChart{
  grid-area:barChart;
}