.total{
    position: fixed;
    /* background-color: #3f0d12; */
    /* background-image: linear-gradient(315deg, #2f0000 10%, #ff004c 60%); */
    background-color: #cccccc;
    background-image: url("https://jtkbackgroundimgs.blob.core.windows.net/jtkreimbursementbackgrounds/background.gif");
    background-repeat: repeat;
    background-size:cover;
    height:100%;
    width:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.container {  
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: rgba(255,255,255,0.03);
    box-shadow: 0 5px 5px rgba(0,0,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    width:fit-content;
    border-radius: 15px;
    padding: 15px;
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      " usernameLabel usernameInput"
      " passwordLabel passwordInput"
      " loginBtn loginBtn ";
}

.usernameLabel { 
    color: rgba(255,255,255,0.8);
    margin: auto;
    background-color: rgba(255,255,255,0.08);
    box-shadow: 0 5px 5px rgba(0,0,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    font-size: 40px;
    border-radius: 10px;
    padding: 4px 2px;
    backdrop-filter: blur(10px);
    grid-area: usernameLabel;
}
.usernameInput {
    display: relative;
    margin: auto;
    width:95%;
    padding: 4px, 2px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 5px 5px rgba(0,0,0.2);
    border: 1.5px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    text-align: center;
    letter-spacing: auto;
    cursor: pointer;
    grid-area: usernameInput; 
}
.usernameInput:hover {
    background-color: rgba(255, 255, 255, 0.363);
    color: rgba(0,0,0,1);
  }
 .usernameInput:active{
    background-color: rgba(0, 0, 0, 0.5);
  }
.passwordLabel { 
    color: rgba(255,255,255,0.8);
    margin: auto;
    background-color: rgba(255,255,255,0.08);
    box-shadow: 0 5px 5px rgba(0,0,0.2);
    border: 1px solid rgba(255,255,255,0.1);
    font-size: 40px;
    border-radius: 10px;
    padding: 4px 2px;
    backdrop-filter: blur(10px);
    grid-area: passwordLabel; 
}
.passwordInput {
    grid-area: passwordInput;
    margin: auto;
    width:95%;
    padding: 4px, 2px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 5px 5px rgba(0,0,0.2);
    border: 1.5px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    text-align:center;
    letter-spacing: auto;
    cursor:pointer;
}
.passwordInput:hover {
    background-color: rgba(255, 255, 255, 0.363);
    color: rgba(0,0,0,1);
  }
 .passwordInput:active{
    background-color: rgba(0, 0, 0, 0.5);
  }

.loginBtn {
    margin: auto;
    padding: auto;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.06);
    box-shadow: 0 5px 5px rgba(0,0,0.2);
    backdrop-filter: blur(30px);
    overflow:hidden;
    color: rgba(255,255,255,0.6);
    font-size: 30px;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
    text-transform: uppercase;
    width: 70%;
    height: auto;
    grid-area: loginBtn;
}
.loginBtn:hover {
  letter-spacing: 4px;
    background-color: rgba(120, 120, 120, 0.3);
    color: rgba(255,255,255,1);
}
.loginBtn:active{
    background-color: rgba(0, 0, 0, 0.7);
}

.Btn {
    margin: auto;
    position: absolute;
    padding: auto;
    border-radius: 15px;
    right:15px;
    background: rgba(255,255,255,.1);
	  box-shadow: 0 5px 5px rgba(0,0,0.2);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,1);
    font-size: 30px;
    overflow:hidden;
    cursor: pointer;
    letter-spacing: 1px;
    transition:0.5s;
    text-transform: uppercase;
}
.Btn:after{
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,transparent,rgba(255,255,255,.5),transparent);
	transition: 0.6s;
	transition-delay: 0s;
}
.Btn:hover:before{
    transform:skewX(45deg)translateX(150%);
}
.Btn:hover{
    letter-spacing: 4px;
}
.Btn:hover:after{
	left: 100%;
}
.loader{
    margin: auto;
    padding: auto;
    display:inline;
    width: auto;
    height: auto;
    grid-area: loginBtn;
}
